<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head.ejs',{title:"Mangadex| Detalhar"})%>
<body>
    <header>
        <%- include('includes/navbar.ejs',{user:user})%>
    </header>
    <article class="main">
        <%- include('includes/manga-detalhes.ejs',{user:user,manga:manga})%>
        <div class="reviews">
            <h2 align="center">Reviews</h2>
            <% if(user){%> 
                <form method="post" action="/addreview">
                    <div class="review-card">
                        <div class='user-img' style="background-image: url(<%=user.image%>)"></div>
                        <div class="review-texts">
                            <input type="text" placeholder="escreva uma review!" class="review-form-input">
                            <input type="hidden" name="manga" value="<%=manga.id%>">
                            <input type="hidden" name="user" value="<%=user.id%>">
                            <input type="submit" class="review-form-submit" value="->">
                        </div>
                    </div>
                </form>
            <% } %> 
        
            <% if(manga.reviews.length>0){ %> 
                <% manga.reviews.forEach(review=>{ %>
                    <%- include('includes/review-card.ejs',{user:user,review:review})%> 
                <%})%>
            <%} else{%>
                <h2 align="center">Sem Reviews</h2>
            <%}%>

        </div>
    </article>
</body>
</html>