<br>
<div>
    <div class="manga-detalhes">
        <img src="<%=manga.image%>" alt="Imagem" class="manga-detalhes-image">
        <div class="manga-detalhes-info">
            <h1 align="center" class="manga-name"><a href="/manga/<%=manga.id%>"><%=manga.name%></a></h1>
            <p>Sinopse:<%=manga.sinopse%></p>
            <p>Genres:<%=manga.genres%></p>
            <p>Created at:<%=new Date(manga.created).toDateString()%></p>
            <p>Last Update:<%=new Date(manga.updated).toDateString()%></p>
            <p>Authors:<%=manga.authors%></p>
            <p>Reviews:<%=manga.reviews.length%> </p>
            <div style="display: flex; flex-direction: row;">
                <%if(user&&user.role=='admin'){%>
                    <a href="/manga/delete/<%=manga.id%>" class="manga-card-delete-button">
                        Delete
                    </a>
                    <a href="/manga/edit/<%=manga.id%>" class="manga-card-edit-button">
                        Edit
                    </a>
                <% } %>
            </div> 
        </div>
    </div>
</div>
<br>
