<div>
    <% if(manager){ %> 
        <h2 style="margin: 2%;">Review Feita no manga <a href="/manga/<%=review.manga%>"><i><%=review.manganame%></i></a></h2>
    <%}%>
    <div class="review-card">
        <a href="/users/<%=review.user.id%>">
            <div class='user-img' style="background-image: url(<%=review.user.image%>)"></div>
        </a>
        <div class="review-texts">
            <div class="review-texts-card">
                <a href="/users/<%=review.user.id%>">
                    <h3>
                        <%=review.user.name%>
                    </h3>
                    <h6 class="created-at"> At <%=new Date(review.updated).toString().substring(4,24)%></h6>
                </a>
            </div>
            <%=review.text%>
        </div>
        <%if(manager){%>
            <a href="/review/delete/<%=review.manga%>/<%=review.id%>" class="manga-card-delete-button">
                Delete
            </a>
            <a href="/review/edit/<%=review.manga%>/<%=review.id%>" class="manga-card-edit-button">
                Edit
            </a>
        <% } %>
    </div>
   
    <br>
</div>