<div>
    <br>
    <div class="user-detalhes">
        <div class='user-img-manager' style="background-image: url(<%=user.image%>)"></div>
        <div class="user-detalhes-info">
            <h1 align="center" class="manga-name"><%=user.name%></h1>
            <p>Id:<%=user.id%></p>
            <p>Role:<%=user.role%></p>
            <p>Email:<%=user.email%></p>
            <p>Image(link):<%=user.image%></p>
            <p>Created at:<%=new Date(user.created).toDateString()%></p>
            <p>Update at:<%=new Date(user.updated).toDateString()%></p>
            <div style="display: flex; flex-direction: row;">
                <% if(edit){ %>
                    <a href="/users/delete/<%=user.id%>" class="manga-card-delete-button">
                        Delete
                    </a>
                    <a href="/users/edit/<%=user.id%>" class="manga-card-edit-button">
                        Edit
                    </a>
                    <%if(self){ %>
                        <% if(user.role=='admin'){ %>
                            <a href="/users/despromote/<%=user.id%>" class="manga-card-delete-button" style="margin-left: 2%;">
                                Despromote
                            </a>
                        <%} else{%>
                            <a href="/users/promote/<%=user.id%>" class="manga-card-edit-button">
                                Promote
                            </a>
                        <%}%>
                    <%}%>
                <%}%>
            </div>
        </div>
    </div>
    <br>
</div>
